<!DOCTYPE html>
<html>
<head>
<title>cololo<%= title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel='stylesheet' href='/css/style.css'>
<link rel="stylesheet" href="/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
                                                                    <script type='text/javascript'>
                                                                    <% PageJSName = "xxx" %>
                                                                    var <%= PageJSName%> = function(){
                                                                      console.log("xxx",this);
                                                                    }
                                                                    </script>
<script type='text/javascript'>
<%// クラスがなかった場合も動くように %>
$(function(){
  if(window.hasOwnProperty("<%= PageJSName %>")){
    <%= PageJSName %> = new <%= PageJSName %>();
  }else{
    GL.hide_loading();
  }
});
//var log = new Log(環境変数);<%// log関数 productionでは出力しない %>
</script>
</head>
<body>
<div id="container">
<%
  var login = false;
  if (typeof user !== 'undefined') login=true;
%>

<%
// =======================
//  ヘッダー
//========================
%>
<header>
  <% if (login) { %>
      <div class="states-line login">
        <div class="btns_area">
          <div class="item"><a href="/logout" class="btn-normal blue logout">ログアウト</a></div>
        </div>
        <div class="user_data_area">
          <%= user.user_id %>さん
        </div>
      </div>
  <% }else{ %>
      <div class="states-line">
        <div class="user_data_area">
          <a href="/login">ログイン</a>
        </div>
      </div>
  <% } %>

  <%
    var link = "/"
    if(login) link = "/mypage"
  %>
  <h1><a href="<%= link %>"><span class="B">c</span><span class="G">o</span><span class="Y">l</span><span class="O">o</span><span class="R">l</span><span class="P">o</span></a></h1>

</header>




<%
// =======================
//  ボディ
//========================
%>
<div id="contents">

  <%- body %>

</div>



<%
// =======================
//  フッター
//========================
%>
<footer>

  <small><p id="copy_right"> © 2016 <a href="/info">MUSHIPAN-FACTORY.</a></p></small>

</footer>


</div><%// container %>
</body>
</html>
