<!DOCTYPE html>
<html>
<head>
<title>cololo<%= title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel='stylesheet' href='/css/style.css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/views/index.js"></script>
<script src="/js/modules/test.js"></script>
    <script type='text/javascript'>
    <% PageJSName = "xxx" %>
    var <%= PageJSName%> = function(){
      console.log("xxx",this);
    }
    </script>
<script type='text/javascript'>
<%// クラスがなかった場合も動くように %>
$(function(){
  if(window.hasOwnProperty("<%= PageJSName %>")){
    <%= PageJSName %> = new <%= PageJSName %>();
  }else{
    GL.hide_loading();
  }
});
//var log = new Log(環境変数);<%// log関数 productionでは出力しない %>
</script>
</head>
<body>
<div id="container">
<%
  var login = false;
  if (typeof user !== 'undefined') login=true;
%>

<%
// =======================
//  ヘッダー
//========================
%>
<header>
  <% if (login) { %>
      <div class="states-line login">
        <div class="btns_area">
          <div class="item"><a href="/logout" class="btn-normal blue" data-btnName="logout">ログアウト</a></div>
        </div>
        <div class="user_data_area">
          <%= user.user_id %>さん
        </div>
      </div>
  <% }else{ %>
      <div class="states-line">
        <div class="btns_area">
          <div class="item"><a href="/login" class="btn-normal blue" data-btnName="login">ログイン</a></div>
        </div>
      </div>
  <% } %>

  <%
    var link = "/"
    if(login) link = "/mypage"
  %>
  <h1><a href="<%= link %>"><span class="blue">c</span><span class="green">o</span><span class="yellow">l</span><span class="orange">o</span><span class="red">l</span><span class="purple">o</span></a></h1>

</header>




<%
// =======================
//  ボディ
//========================
%>
<div id="contents">

  <%- body %>

</div>



<%
// =======================
//  フッター
//========================
%>
<footer>

  <small><p id="copy_right"> © 2016 <a href="/info">MUSHIPAN-FACTORY.</a></p></small>

</footer>


</div><%// container %>
</body>
</html>
